@font-face {
  font-family: 'literaturhaus-symbols';
  src:  url('./fonts/literaturhaus-symbols.eot?bbxxrl');
  src:  url('./fonts/literaturhaus-symbols.eot?bbxxrl#iefix') format('embedded-opentype'),
    url('./fonts/literaturhaus-symbols.ttf?bbxxrl') format('truetype'),
    url('./fonts/literaturhaus-symbols.woff?bbxxrl') format('woff'),
    url('./fonts/literaturhaus-symbols.svg?bbxxrl#literaturhaus-symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'literaturhaus-symbols' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lih-glas:before {
  content: "\e900";
}
.icon-lih-hand:before {
  content: "\e901";
}
.icon-lih-heart:before {
  content: "\e902";
}
.icon-lih-mouth:before {
  content: "\e903";
}

